body {
    font-family: 'Roboto', sans-serif;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

header {
    margin-bottom: 50px;
}
.btn-bd-primary {
    font-weight: 600;
    color: #fff;
    background-color: #7952b3;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

    .btn-bd-primary:hover, .btn-bd-primary:active {
        color: #fff;
        background-color: #61428f;
        border: none;
        -webkit-box-shadow: 1px 2px 6px 0px rgb(118 118 118);
        -moz-box-shadow: 1px 2px 6px 0px rgb(118 118 118);
        box-shadow: 1px 2px 6px 0px rgb(118 118 118);
    }